.character-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
}

.character-emoji {
  font-size: 8rem;
  position: relative;
  z-index: 2;
  filter: drop-shadow(0 0 20px currentColor);
  text-shadow: 0 0 30px currentColor;
}

.character-glow {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  filter: blur(30px);
  opacity: 0.5;
  z-index: 1;
}

.character-sparkles {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.sparkle {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.5rem;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0 0 5px currentColor);
}

@media (max-width: 767px) {
  .character-container {
    width: 150px;
    height: 150px;
  }
  
  .character-emoji {
    font-size: 5rem;
  }
  
  .character-glow {
    width: 100px;
    height: 100px;
  }
  
  .sparkle {
    font-size: 1rem;
  }
}

